!!! XML
%feed{:xmlns => 'http://www.w3.org/2005/Atom'}
  %title= rp(@page_title)
  %id= self_uri
  %link{:href => self_uri}
  %updated= @gig_list.updated.xmlschema
  %author
    %name Giggregator
    %uri= self_base_uri
  %entry
    %title= rp(@page_title)
    %id= self_uri.gsub('/feed', '')
    %link{:href => self_uri.gsub('/feed', '')}
    %updated= @gig_list.updated.xmlschema
    %content{:type => 'html'}
      :cdata
        #{haml :_gig_list, :layout => false}
