!!! XML
%feed{:xmlns => 'http://www.w3.org/2005/Atom'}
  %title= rp(@gig_list.title)
  %id= self_link
  %link{:href => self_link}
  %updated= @gig_list.updated.xmlschema
  %author
    %name Giggregator
    %uri http://giggregator.sean.mcgivern.me.uk/
  %entry
    %title= rp(@gig_list.title)
    %id= self_link
    %link{:href => self_link}
    %updated= @gig_list.updated.xmlschema
    %content{:type => 'html'}
      :cdata
        #{haml :_gig_list, :layout => false}
