%div#main
  %h2 About
  %p
    This is a site to take multiple bands&#8217; MySpace pages, pull
    the gigs from them, and put them all in one place, so that
    it&#8217;s easier to keep track of them all and when they are
    coming to a particular area. It also supports
    %a{:href => 'http://openidexplained.com/',
       :title => 'OpenID Explained'} OpenID
    if you want to stop anyone else from editing your list &#8212; and
    know how to use OpenID.
  %p
    For an example, see
    = succeed '.' do
      %a{:href => r('/gig-list/seans-list'),
         :title => 'Sean’s gig list'} my gig list
    Unfortunately, not so many people use MySpace these days, so it
    might not be as useful as it once would have been. If you have a
    %a{:href => 'http://last.fm/'} Last.fm
    account, they have a similar service based on your listening
    habits.
  %h2 Create new gig list
  %p Enter a list of band links on MySpace:
  %form{:action => r('/update-gig-list/'), :method => 'POST'}
    %p
      %input{:type => 'text', :name => 'title', :id => 'title'}
      %label{:for => 'title'} (list title)
    %p
      %input.openid{:type => 'text', :name => 'openid_uri',
                    :id => 'openid_uri'}
      %label{:for => 'openid_uri'} (OpenID &#8212; optional)
    %p
      %textarea{:name => 'band_list', :rows => 12, :cols => 60}
    %p
      %input.submit{:type => 'submit', :value => 'Create gig list'}
%div#sidebar
  %h2 Upcoming gigs
  %ol#upcoming-gigs
    - @gig_list.by_time[0..4].each do |gig|
      %li
        %h3= rp(gig.location)
        %p
          %a{:href => r("/band/#{gig.band.myspace_name}/")}<
            = rp(gig.band.title)
          on
          %a{:href => gig_link(gig)}= rp(gig.time_formatted)
