!!!
%html
  %head
    %title= rp(@page_title)
    %link{:href => r('/ext/style.css'), :rel => 'stylesheet',
          :type => CONTENT_TYPES[:css]}
    %link{:href => r('/ext/app-icon.png'), :rel => 'apple-touch-icon'}
    - if @page_feed
      %link{:href => r(@page_feed), :rel => 'alternate',
            :type => CONTENT_TYPES[:atom]}
    - (@scripts || []).each do |script|
      %script{:src => r(script), :type => CONTENT_TYPES[:js]}
  %body
    %div#header
      - if @breadcrumbs
        %h1= rp(@page_title)
        %p#subtitle= show_breadcrumbs(@breadcrumbs)
      - else
        %h1.homepage= rp(@page_title)
    = yield
    %div#footer
      %p
        By
        %a{:href => 'http://sean.mcgivern.me.uk'} Sean McGivern
